* {
    box-sizing: border-box; 
   }
body {
    margin: 5vh;
    min-height: 100vh; 
}

header > h1, h3 {
    text-align: center;
    text-transform: uppercase;
}
header > h3 {
    opacity: 0.7;
}
.cards {
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    flex-grow: 0 1 auto;
}
.card {
    background-color: rgb(18, 84, 88);
    border: 1px solid grey;
    border-radius: 15px;
    padding: 20px 15px;
    text-align: center;
}
.card:hover {
    box-shadow: 2px 2px 6px rgb(255, 234, 42);
}
.image {
    width: 200px;
    height: 225px;
    max-width: 100%;
    border-radius: 5px;
}
.product, h3 {
    text-decoration-line: underline ;
    opacity: 1;  
}
p {
    font-size: larger;
}
input[type=submit] {
    width: 55%;  height: 5%;
    font-size: larger;
}